<header>
  <h1>SSH Keys</h1>

	  <ul class="actions">
      <% if policy(CpOraclecloud::SshKey).new? %>
	     <li><%= link_to "New SSH Key", new_cp_oraclecloud_ssh_key_path,
	      class: "new" %></li>
      <% end %>
    </ul>
    
</header>

<div id="ssh_keys">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Enabled</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ssh_keys.each do |key| %>
        <tr>
          <td><%= key.name %></td>
          <td><%= key.enabled %></td>
          <td><%= link_to "", key, method: :delete,
data: { confirm: "Are you sure you want to delete this SSH Key? This will remove it from the cloud."},
class: "delete" %></td>
        </tr>
      <% end %>
    </tbody>    
  </table>
</div>